// fonts
$font-family: "Montserrat", sans-serif;
// color
$bg: #6b170c;
$bg-color: #081130;
$color-widht: #ffffff;
$bg-offer: #f2f6fa;
$color-text: #2e363e;
$bg-button: #fed84c;
$defolt: #bdbdbd;
$numbers-color: #434b53;
$border-outline: #f2f6fa;
$shadow: rgba(194, 198, 208, 0.06);
$circle: #5d6afb;

// жирность текста
$font-weight-1: 700;
$font-weight-2: 500;
$font-weight-3: 400;

// font-size
$font-size-1: 48px;
$font-size-2: 24px;
$font-size-3: 21px;
$font-size-4: 20px;
$font-size-5: 18px;
$font-size-6: 16px;
$font-size-7: 15px;
$font-size-8: 13px;
$font-size-9: 12px;
$font-size-10: 11px;

//sizes
$mobile: 360px;
$tablet: 768px;
$desctop: 1440px;

// boder-radius
$border-button: 8px;
$border-small: 5px;
$border: 1px;
