.button {
  font-weight: $font-weight-2;
  font-size: $font-size-5;
  line-height: 27px;
  color: $color-text;
  background-color: $bg-button;
  border-radius: $border-button;
  cursor: pointer;
  text-decoration: none;
}
